.wrapper {
    overflow: hidden;
    max-width: 100%;
    min-height: 100dvh;
    height: 100dvh;
}

.frame-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    width: 300%;
    left: -100%;
}

.frame-container #player,
.frame-container #player_rose {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-ag {
    padding: 20px 170px !important;
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
    background: black;
    font-weight: 600;
}

.between-space {
    margin: 30px 24px;
    display: flex;
    white-space: nowrap;
    text-align: center;
    color: rgba(0, 0, 0, 0.38);
    font-size: 15px;
}

.between-space:before,
.between-space:after {
    content: '';
    flex: 1 1;
    border-bottom: 1px solid rgba(0, 0, 0);
    margin: auto 20px;
    padding-right: 10px;
}

.img-popup {
    cursor: pointer;
    width: 23%;
    margin: 0 8px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    color: rgb(249 169 25) !important;
}

.container {
    max-width: 100%;
    height: 10rem;
    background-image: url("https://radatime.co.id/image/landing_page/aries_gold_new/AG_BTN_BACKGROUND.jpg");
    background-position: center center;
}

.btn_ag:hover {
    background-color: #f9a919 !important;
    color: #fff !important;
    border: 1px solid #f9a919 !important;
}

.btn_ag_container {
    display: flex;
    flex-direction: column;
    
}

.btn_ag {
    margin: 8px;
    width: fit-content;
    border-radius: 10px;
    padding: 17px;
    font-size: 26px !important;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.ag_title h2 {
    font-size: 65px;
    font-family: 'Roboto';
}

.ag_title a {
    border: 1px solid black;
    font-size: 22px !important;
    padding: 1rem;
}

#ga-landing-ariesgold-ig button:hover {
    background: #f9a919;
    border-color: #f9a919;
    color: #fff;
}

.ag_info {
    width: 33.33%;
    text-align: center;
}

.ag_info .logo {
    width: 100px;
    height: 100px;
    margin-bottom: 0.5rem;
}

.ag_info img {
    max-width: 100px;
    max-height: 100px;
    padding-top: 1rem;
}

.ag_info p {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

.ag_info .text {
    font-size: 20px;
    width: 80%;
    margin-bottom: 2rem;
    color: #d1d1d1;
}

.flex .column {
    flex-basis: 33%;
    padding: 1rem;
    font-size: 18px;
}

.flex .column img {
    width: 100%;
}

html {
    scroll-behavior: smooth !important;
}

.img-left hr,
.img-right hr {
    margin: 0px !important;
    border-color: #343a40 !important;
}

.img-left,
.img-right {
    margin-bottom: 1.5rem !important;
}

.img-left img {
    border-radius: 0px 40px 40px 0px;
}

.img-right img {
    border-radius: 40px 0px 0px 40px;
}

.bg-ag {
    position: absolute;
    width: 100%;
    height: 435px;
}

.ag_title img {
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
    object-position: center;
}

.ag_collection_img {
    z-index: 1;
    padding: 1.5rem 0px !important;
    width: 60%;
    height: 435px;
}

.ag_collection_text {
    width: 40%;
    z-index: 1;
    align-self: center !important;
    font-size: 22px;
}

.img-right .ag_collection_text {
    text-align: right !important;
    padding-right: 3rem !important;
}

.img-left .ag_collection_text {
    padding-left: 3rem !important;
}

.resize {
    font-size: 46px;
    line-height: 1.2;
}

ol {
    list-style-type: decimal;
    list-style-position: outside;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 3rem;
}

.modal-content {
    background-color: white;
    width: 50%;
    margin: 0 auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.modal-title h4 {
    margin: 0;
}

.close {
    cursor: pointer;
    font-size: 30px;
    color: white;
}

.close:hover {
    color: #bbb;
}

.modal-body {
    padding: 1rem;
    height: 450px;
    overflow-y: scroll;
}

@media (max-width: 1024px) {
    .btn_ag {
        margin: 32px 0px !important;
        width: 25% !important;
    }

    .flex .column img {
        max-height: 325px;
    }
}

@media (max-width: 720px) {
    .text-ag h1 {
        font-size: 28px;
    }

    .btn_ag {
        margin: 20px 0px !important;
        width: 35% !important;
    }

    .ag_title h2 {
        font-size: 40px;
    }

    .ag_title p {
        font-size: 16px;
        margin-bottom: 1rem !important;
    }

    .ag_info .text {
        font-size: 16px;
    }

    .flex .column {
        font-size: 16px;
    }

    .flex .column img {
        max-height: 225px;
    }

    .text-ag {
        padding: 20px 20px !important;
    }
}
